* {
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
}

header {
    background: #FCFCFC;
    height: 150px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    width: 550px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.hight {
    color: #5A90A8;
    transition: 0.5s;
}

.hight:hover {
    transform: scale(0.97);
    text-decoration: underline;
}

.verh {
    width: 400px;
    display: flex;
    justify-content: center;
}